<section class="content-header">
  <h1>Show Faqs</h1>
</section>
<section class="content">
<div class="box box-info">
  <div class="box-body box-profile">
    <div class="profile-box">
      <div class="profile-inner clearfix">
        <div class="user-detail-block">
          <div class="p-blocks">
            <label class="view-a left-a">Question: </label>
            <span class="view-a right-a word-break-all"><%= sanitize(@faqs.question)%></span>
          </div>
          <div class="p-blocks">
            <label class="view-a left-a">Answer: </label>
            <span class="view-a right-a word-break-all"><%= strip_tags(@faqs.answer)%></span>
          </div>
        </div>
      </div>
      </div>
      <br>
      <br>
      <center><a href="/admin/faqs" class="btn btn-danger">Back</a></center>
  </div>
</div>
</section>
<style type="text/css">
  .word-break-all{
  word-break: break-all;
}
</style>