<div class="page-wrapper crousel-page">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/Layer 46.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/assets/Layer 45.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/assets/Layer 46.png" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

        </a>
      </div>
      <div class="container home-wrap">
        <h2 class="widget-title">METACRITIC REPORTS</h2>
        <div class="row theatres-row">
          <div class="col-md-8">
            <div class="row no-gutters reports-row">
             <div class="col-md-3">
              <div class="imgsection">
                <img src="/assets/Layer 47.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-9">
              <div class="contentsection">
                <p class="pa">Summer Preview 2019, Tv Preview</p>
                <h5>Metacritic Reports</h5>
                <p class="paracol8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href="javascript:void(0)" class="readmore align-self-end">View More</a>
              </div>
            </div>
          </div>
    
           <div class="row no-gutters reports-row">
             <div class="col-md-3">
              <div class="imgsection">
                <img src="/assets/Layer 47.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-9">
              <div class="contentsection">
                <p class="pa">Summer Preview 2019, Tv Preview</p>
                <h5>Metacritic Reports</h5>
                <p class="paracol8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href="javascript:void(0)" class="readmore align-self-end">View More</a>
              </div>
            </div>
          </div>
         
          <div class="row no-gutters reports-row">
             <div class="col-md-3">
              <div class="imgsection">
                <img src="/assets/Layer 47.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-9">
              <div class="contentsection">
                <p class="pa">Summer Preview 2019, Tv Preview</p>
                <h5>Metacritic Reports</h5>
                <p class="paracol8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href="javascript:void(0)" class="readmore align-self-end">View More</a>
              </div>
            </div>
          </div>

          <div class="row no-gutters reports-row">
             <div class="col-md-3">
              <div class="imgsection">
                <img src="/assets/Layer 47.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-9">
              <div class="contentsection">
                <p class="pa">Summer Preview 2019, Tv Preview</p>
                <h5>Metacritic Reports</h5>
                <p class="paracol8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href="javascript:void(0)" class="readmore align-self-end">View More</a>
              </div>
            </div>
          </div>
        </div>


      <div class="col-md-4" >
        <div class="white-box papular-reports">
          <p class="centerpara">Papular Reports</p>
          <ul class="custom-list">
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Summer Preview</span> <span>Best of 2019</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Avards Coverage</span> <span>Best of 2019</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Streaming Guides</span> <span>Best of 2019</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; DVD/Blu-Ray Release</span> <span>Best of 2019</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Film Festivals</span> <span>Best of 2019</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; New Movie Trailers</span> <span>Best of 2019</span></li>
        </ul>
        </div>
      </div>
      
    </div>

<div class="row reports-row1">
  <h2 class="titile-light">You may also like:</h2>
</div>

<div class="row reports-row2">
<div class="custom-slider slidw">
  <div class="custom-post custom-slide">
    <div class="custom-img">
      <img src="/assets/slide1.jpg" class="img-fluid" alt="">
    </div>
    <div class="custom-content justify-content-end">
      <h4 class="custom-title">Marta Kauffman</h4>
      <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="javascript:void(0)" class="view-more align-self-end">View More</a>
    </div>
    <div class="prcnt-section">
      <p>90%</p>
    </div>
  </div>
  <div class="custom-post custom-slide">
    <div class="custom-img">
      <img src="/assets/slide2.jpg" class="img-fluid" alt="">
    </div>
    <div class="custom-content justify-content-end">
      <h4 class="custom-title">The Guardian</h4>
      <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="javascript:void(0)" class="view-more align-self-end">View More</a>
    </div>
    <div class="prcnt-section">
      <p>90%</p>
    </div>
  </div>
  <div class="custom-post custom-slide">
    <div class="custom-img">
      <img src="/assets/slide3.jpg" class="img-fluid" alt="">
    </div>
    <div class="custom-content justify-content-end">
      <h4 class="custom-title">Business Inside</h4>
      <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="javascript:void(0)" class="view-more align-self-end">View More</a>
    </div>
    <div class="prcnt-section">
      <p>76%</p>
    </div>
  </div>
  <div class="custom-post custom-slide">
    <div class="custom-img">
      <img src="/assets/slide1.jpg" class="img-fluid" alt="">
    </div>
    <div class="custom-content justify-content-end">
      <h4 class="custom-title">ITTEFAQ</h4>
      <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="javascript:void(0)" class="view-more align-self-end">View More</a>
    </div>
    <div class="prcnt-section">
      <p>90%</p>
    </div>
  </div>
</div>
</div>
</div>
</div>
<script>
    $('.custom-slider').slick({
      dots: false,
      infinite: true,
      autoplay: true,
      speed: 300,
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
          }
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

  </script>