<h1>Details Desboard</h1>
<% if user_signed_in? %>
  <h2>Logged in Successfull</h2>
  <b>Your E-mail:</b> <strong><%= current_user.email %></strong>.
  <br>
  <%= link_to "sign_out",  destroy_user_session_path  %>
  <%end%>