<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<div class="container">
    <div class="card-deck">
        <div class="col-md-6">
            <div class="card-body text-center">
                <div id="Normal_bar_graph">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body text-center">
                <div id="Expert_bar_graph">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body text-center">
                <!-- <p class="card-text">Some text inside the third card</p> -->
                <div id="Normal_criteria_star">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body text-center">
                <!-- <p class="card-text">Some text inside the fourth card</p> -->
                <div id="Expert_criteria_star">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body text-center">
                <!-- <p class="card-text">Some text inside the fifth card</p> -->
                <div id="Normal_criteria_chart">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body text-center">
                <!-- <p class="card-text">Some text inside the sixth card</p> -->
                <div id="Expert_criteria_chart">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $.ajax({
        url: "/web/reviews/average_criteria",
        type: 'POST',
        data: {
            product_id: "<%= params[:product_id]%>",
            user_type: "Normal User",
            graph_type: "star"
        },
        success: function(response) {

        }
    });

    $.ajax({
        url: "/web/reviews/average_criteria",
        type: 'POST',
        data: {
            product_id: "<%= params[:product_id]%>",
            user_type: "Expert User",
            graph_type: "chart"
        },
        success: function(response) {

        }
    });

    $.ajax({
        url: "/web/reviews/average_bar_graph_data",
        type: 'POST',
        data: {
            product_id: "<%= params[:product_id]%>",
            user_type: "Expert User"
        },
        success: function(response) {

        }
    });
    $.ajax({
        url: "/web/reviews/average_bar_graph_data",
        type: 'POST',
        data: {
            product_id: "<%= params[:product_id]%>",
            user_type: "Normal User"
        },
        success: function(response) {

        }
    });
});
</script>
<style type="text/css">
.abc1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abc1 .star-para {
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 15px;
}

.abc1 .st {
    min-width: 25%;
    font-size: 14px;
    margin-right: 18px;
}

text.highcharts-credits {
    display: none;
}

.card-columns {
    column-count: 2;
}
</style>