<%#= render "layouts/web_header" %>

<!-- <h2>Forgot your password?</h2>

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%#= f.submit "Send me reset password instructions" %>
  </div>
<%# end %> -->


<div class="page-wrapper">
      <div class="login-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1">
              <div class="login-box">
                <div class="row no-gutters row-eq-height">
                  <div class="col-md-5 col-xl-5">
                    <div class="login-content-box">
                      <div class="login-text">
                        <h3>Welcome</h3>
                        <h2>to website</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7 col-xl-7">
                    <div class="login-form-box">
                      <div class="right-heading">
                        <h2>Forgot Password</h2>
                      </div>
                      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="form-group text-center">
                          <img src="/assets/forgot-icon.png" alt="">
                        </div>
                        <div class="form-group">
                          <p class="big-text mb-0">Please enter your registered email address. We
                            will help you retrieve your password.</p>
                        </div>
                        <div class="form-group">
                        	<!-- <input type="email" class="form-control email" id="" placeholder="Email"> -->
                          <%#= f.email_field :email, autofocus: true, autocomplete: "email",class: "from-control", placeholder: "Email" %>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
                        </div>
                        <div class="form-group">
                          <!-- <a href="login.html" class="btn btn-block btn-success">Proceed</a> -->
                          <%= f.submit "Proceed", class: "btn btn-block btn-success" %>
                        </div>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<%#= render "devise/shared/links" %>

