<%#= render "layouts/web_header" %>

<!-- <h2>Forgot your password?</h2>

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%#= f.submit "Send me reset password instructions" %>
  </div>
<%# end %> -->

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<div class="page-wrapper">
      <div class="login-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1">
              <div class="login-box">
                <div class="row no-gutters row-eq-height">
                  <div class="col-md-5 col-xl-5">
                    <div class="login-content-box">
                      <div class="login-text">
                        <h3>Welcome</h3>
                        <h2>to Lina.review</h2>
                        <p>The platform based on blockchain technology, data will be guaranteed immutability and transparency.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7 col-xl-7">
                    <div class="login-form-box">
                      <div class="right-heading">
                        <h2>Forgot Password</h2>
                      </div>
                      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :id => "forgot_password" }) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="form-group text-center">
                          <img src="/assets/forgot-icon.png" alt="">
                        </div>
                        <div class="form-group">
                          <p class="big-text mb-0">Please enter your registered email address. We
                            will help you retrieve your password.</p>
                        </div>
                        <div class="form-group">
                        	<!-- <input type="email" class="form-control email" id="" placeholder="Email"> -->
                          <%#= f.email_field :email, autofocus: true, autocomplete: "email",class: "from-control", placeholder: "Email" %>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
                        </div>
                        <div class="form-group">
                          <!-- <a href="login.html" class="btn btn-block btn-success">Proceed</a> -->
                          <%= f.submit "Proceed", class: "btn btn-block btn-success" %>
                        </div>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
$(document).ready(function(){
$("#forgot_password").validate({
    rules: {
      "user[email]":{
        required: true,
        
      }
    }   
  });
  });

</script>
<style type="text/css">

  .msg-error{
        color: #e80b0b;
  }
  .error{
            color: #e80b0b;

  }
</style>

<%#= render "devise/shared/links" %>

