@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,700,800&display=swap');

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BoldItalic.eot');
    src: url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-BoldItalic.woff') format('woff'),
        url('../fonts/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-LightItalic.eot');
    src: url('../fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-LightItalic.woff') format('woff'),
        url('../fonts/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BookItalic.eot');
    src: url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-BookItalic.woff') format('woff'),
        url('../fonts/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-MediumItalic.eot');
    src: url('../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-MediumItalic.woff') format('woff'),
        url('../fonts/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.eot');
    src: url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-ThinItalic.eot');
    src: url('../fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-ThinItalic.woff') format('woff'),
        url('../fonts/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.eot');
    src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Black.woff') format('woff'),
        url('../fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



body {
	font-size: 15px;
	font-family: 'Gotham';
	background: #fefeff;
    /*margin-top: -58px;*/
}
a, img {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.form-control {
    height: 40px;
    border-radius: 0px;
    font-size: 13px;
    margin-bottom: 0px;
    border-color: #d2d2d2;
    color: #7c7979;
}
.form-control:focus {
	box-shadow: none;
	outline: none;
	border-color: #151c6a;
}
.form-control::-webkit-input-placeholder {
	color: #a5a5a5;
}
.form-label {
	margin-bottom: 0px;
}
.btn {
	text-decoration: none !important;
	font-weight: bold;
    padding: 8px 20px;
    border-radius: 0;
    font-size: 16px;
    min-width: 100px;
}
.btn:focus {
	box-shadow: none !important;
	outline: none !important;
}

.btn-success {
	background: #ff961b;
	text-decoration: none !important;
	border: none;
	border-radius: 0px;
	width: 100%;
	text-transform: uppercase;
	line-height: 65px;
	font-size: 22px;
	min-height: 65px;
	padding: 0px;
	font-weight: normal;
}
.btn-theme, .btn-theme:hover, .btn-theme:focus {
	background: #fe7100;
	border-color: #fe7100;
	color:#fff;
}
.btn-outline-theme {
	background: transparent;
	border-color: #fe7100;
	color: #2d2d2d;
}
.btn-outline-theme:hover, .btn-outline-theme:focus {
	background: #fe7100;
	color: #fff;
}
.btn-outline-light {
	border-color: #e2e5ed;
	color: #4c4a4a;
}
.upload-btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.upload-btn input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    cursor: pointer;
}

.cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.bg-primary {
    background-color: #2866f1!important;
}
.headerTop {
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-between;
	padding: 20px 0px;
}
.user-item {
	margin-right: 25px;
}
.user-item a {
	color: #fff;
}
.user-item img {
	margin-left: 10px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
.main-nav {
	width: 100%;
	background: #0f3da3;
	justify-content: space-between;
}
.main-nav li {
    width: 12%;
}
.main-nav li a {
    padding: 14px 10px !important;
	text-align: center;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}
.main-nav li a:before {
	content: '';
	height: 33px;
	width: 1px;
	background: rgba(255, 255, 255, 0.37);
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%)
}
.main-nav li:last-child a:before {
	display: none;
}
.main-navbar {
	padding: 0em 1rem;
}


@media (min-width: 992px) {
	.navbar-expand-lg {
		flex-flow: column;
	}
	.navbar-collapse {
		width: 100%;
	}
}

.navbar-brand {
	max-width: 160px;
	padding: 0px;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-wrapper {
	flex-grow: 1;
}




.footer {
	background: #2866f1;
	color: #fff;
	padding: 40px 0px 0px 0px;
}
.footer a {
	color: #fff;
}
.footer-links {
	display: inline-block;
}
.footer-links a {
	color: #fff;
	font-size: 12px;
	margin-right: 15px;
	display: inline-block;
	text-transform: uppercase;
}

.footer-social {
	text-align: right;
}
.footer hr {
	border-color: #4b4b4b;
}
.copyright {
	margin: 0px;
	text-transform: uppercase;
	font-size: 10px;
}


.login-box {
	box-shadow: 0px 0px 20px 0px #d4d4d4;
}
.login-content-box {
	border-radius: 4px!important;
	/* min-height: 591px; */
	padding: 80px 30px;
	position: relative;
	color: #fff;
	background: url(/assets/login-content-bg.png);
	height: 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: cover;
}
.login-text {
	position: relative;
}
.login-text h4 {
	font-weight: bold;
	font-size: 16px;
}
.login-text p {
    font-size: 15px;
    margin: 30px 0px 0px 0px;
    line-height: 30px;
    font-weight: 100;
}
.login-form-box {
	padding: 30px;
	background: #fff;
	height: 100%;
	border-top-right-radius: 8px!important;
	border-top-left-radius: 0px!important;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 8px!important;
}
.login-box .form-control {
	padding: 0px 30px;
	height: 60px;
	border-radius: 15px !important;
	font-size: 18px;
	margin-bottom: 0px;
	border: 2px solid #bbbbbb;
	color: #969696;
}
.login-box .form-control:focus {
	border-color: #bbb;
}

.login-form-box input.form-control:focus {
	box-shadow: none;
	outline: none;
}

.login-form-box .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
	border-left: 0px;
	padding-left: 0px;
}

.header-search .form-control {
    border: 1px solid #6692f5;
    background: #0f3da3;
    color: #fff;
    min-width: 500px;
    min-height: 48px;
	padding-left: 48px;
	font-size: 14px;
	border-radius: 5px;
}
.header-search img {
    position: absolute;
    top: 14px;
    left: 15px;
}
.header-search .form-control::-webkit-input-placeholder { 
	color: rgba(255, 255, 255, 0.54);
}
a.nav-link.btn.btn-outline {
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 0px;
    font-size: 15px;
}
a.nav-link.btn.btn-outline-dark {
    color: #ffffff;
    border: 1px solid #ff961b;
    border-radius: 0px;
    font-weight: 400;
    background: #ff961b;
    font-size: 15px;
}
li.nav-item.btn-items a.nav-link.btn.btn-outline {
    margin-right: 20px;
}
.navbar-light .navbar-nav .nav-item {
    display: flex;
}
.login-text h3 {
    font-size: 27px;
	font-weight: normal;
	margin: 0px;
}
.login-text h2 {
    font-size: 38px;
    position: relative;
    font-weight: 100;
}

ul.navbar-nav.align-items-center li.nav-item {
    position: relative;
}

.login-text h2:after {
    content: '';
    border-bottom: 1px solid #807c79;
    position: absolute;
    bottom: -18px;
    right: -30px;
    left: 0px;
}
ul.fotter-ul {
    list-style: none;
}
ul.fotter-ul li.main-hedaing {
    font-weight: 600;
    font-size: 18px;
}
ul.fotter-ul li {
    font-size: 15px;
    line-height: 30px;
}
a.font-awsomeicon i.fa {
    font-size: 20px;
    margin-right: 10px;
    background: #fff;
    color: #2866f1;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
p.fotter-para {
    margin-top: 50px;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0px;
}
footer.footer .container-1440 .row {
    align-items: flex-end;
}
.last-para {
    background: #0f3da3;
    text-align: center;
    margin-top: 40px;
}
.last-para p {
    margin-bottom: 0px;
    padding: 14px 0px;
}
.row.align-items-intial {
    align-items: initial!important;
}

.right-heading {
    padding: 0px 0px 25px 0px;
    position: relative;
}
.right-heading h2 {
	font-size: 24px;
	font-weight: 500;
	margin: 0px;
}
.right-heading:after {
    content: '';
    border: 1px solid #e8e8e8;
    position: absolute;
    bottom: 0px;
    /* width: 649px; */
    left: -30px;
    right: -30px;
}
form.login-form {
    margin-top: 30px;
}
.theme-text {
	color: #f58400;
}
.btn-success:hover {
    color: #fff;
    background-color: #f58400;
}
a.btn.btn-success.blue {
    background: #3a589b;
}
a.btn.btn-success.blue:hover {
    background: #3558a6;
}
.form-group.mb-0.mt30 {
    margin-top: 30px;
}
.form-group a.btn.btn-success.blue img {
    margin-right: 10px;
}
a.btn.btn-success.blue {
    text-align: center;
    /* padding-left: 45px; */
}
.orline {
	    margin-top: 30px;
    position: relative;
}
hr.horizontal-line {
    border-top: 1px solid #929292;
}
.orline span {
    position: absolute;
    top: -19px;
    color: #353535;
    left: 50%;
    background: #fff;
    padding: 8px;
    border-radius: 30px;
	font-size: 17px;
	transform: translateX(-50%);
}
p.text-center.mt20 {
    margin-top: 20px;
    font-size: 16px;
    color: #353535;
}
a.yellow-text {
    color: #ff961b!important;
    text-decoration: underline!important;
}
a.yellow-text:hover{
	cursor: pointer;
}
.custom-design a {
    color: #194cbe!important;
    text-decoration: underline!important;
    font-size: 16px!important;
}
.custom-design a:hover{
	cursor: pointer;
}
.custom-design .check {
    display: flex;
    font-size: 16px;
    color: #353535;
    align-items: center;
}
.custom-design .check input[type="checkbox"] {
    zoom: 1.5;
}
.custom-design {
    margin: 28px 0px;
}
.big-text {
	font-size: 18px;
}
.page-wrapper {
    padding: 40px 0px;
}
.page-title {
	color: #363636;
	font-size: 31px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 600;
}
.accordion .card {
	border-radius: 0px;
	box-shadow: none;
}
.accordion-card {
	padding: 12px 20px;
	font-size: 23px;
	color: #2d2d2d;
	cursor: pointer;
	border: 0px;
	border-radius: 0px !important;
	font-family: 'Poppins', sans-serif;
	background: rgba(186,184,182,1);
	background: -moz-linear-gradient(top, rgba(186,184,182,1) 0%, rgba(248,248,248,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(186,184,182,1)), color-stop(100%, rgba(248,248,248,1)));
	background: -webkit-linear-gradient(top, rgba(186,184,182,1) 0%, rgba(248,248,248,1) 100%);
	background: -o-linear-gradient(top, rgba(186,184,182,1) 0%, rgba(248,248,248,1) 100%);
	background: -ms-linear-gradient(top, rgba(186,184,182,1) 0%, rgba(248,248,248,1) 100%);
	background: linear-gradient(to bottom, rgba(186,184,182,1) 0%, rgba(248,248,248,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bab8b6', endColorstr='#f8f8f8', GradientType=0 );
}
.logoutModal {
	
}
.modal-content {
	border-radius: 10px;
}
.modal-header {
    justify-content: center;
    padding: 1rem 1rem;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fe7100;
	color: #fff;
}
.modal-footer {
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bigtitle {
	font-size: 18px;
}
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f00f0f;
    border-color: #eed3d7;
    color: #f2eded;
    text-align: left;
    /*font-size: 20px;*/
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #2d8a07;
    border-color: #d6e9c6;
    color: #f2f7f2;
    text-align: left;
    /*font-size: 20px;*/
 }