<div class="page-wrapper">
      <div class="about-page">
        <div class="container">
          <h1 class="page-title"><%= sanitize(@about&.title)%></h1>
          <p><%= sanitize(@about&.description)%></p>
        </div>
      </div>
    </div>