 <div class="page-wrapper">
      <div class="about-page">
        <div class="container">
          <h1 class="page-title"><%=  sanitize(@privacy&.title) %></h1>
          <p><%= sanitize(@privacy&.description) %></p>
        </div>
      </div>
    </div>