<div class="login-part">
	<div class="clearfix">
	  <div class="global-heading user-head">Category Management</div>
	  <div class="aduser-btn"><a href="/admin/categories" class="btn btn-add"> << Back to list </a></div>
	 </div>
  <div class="login-detail createpro-detail1">
    <!-- <form class="form-common"> -->
    <%= form_for :category, url: admin_categories_path, html:  {id: "admin_category"}  do |f| %>
   
      <div class="row">
        <div class="col-sm-12">
          <div class="category_mng-form">
            <div class="form-group">
               <label for="">Category Name<span class="required">*</span> </label>
               <%= f.text_field :category_name, class: "form-control custom-control",  placeholder: "Category Name"%>
            </div>
            
            <div class="form-group">
            	
              <div class="form-add">
                <%= submit_tag 'Submit', :class => "btn btn-primary btn-md"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%##################################################################################3%>
  <!--     <%#= nested_form_for :sub_category, url: create_sub_category_admin_categories_path, method: :post, local: true do |f| %>
       <div class="row">
        <div class="col-sm-12">
          <div class="category_mng-form">
            <div class="form-group">
               <label for="">Sub Category Name<span class="required">*</span> </label>
               <%#= f.text_field :sub_category_name, class: "form-control custom-control",  placeholder: "Sub Category Name"%>
            </div>
            <div class="form-group">
              <div class="form-add">
                <%#= submit_tag 'Submit', :class => "btn btn-primary btn-md"%>
              </div>
            </div>
          </div>
        </div>
      </div>
 <%#end%> -->
    <%###################################################################################%>
    <!-- </form> -->
  </div>
</div>


<script>
$(document).ready(function() {
     $("#admin_category").validate({
    rules: {
      "category[category_name]": {
        required: true
        
      }
 


    },
    messages: {
      "category[category_name]":{
        required: "Please select the category name.",
        maxlength: "Maximum characters are 35."
      }
    },
    submitHandler: function(form) {
      form.submit();
    }
   });
   
   $.validator.addMethod("regxfloat", function(value, element, regexpr) {          
    return regexpr.test(value);
}, "Invalid Format");

   $.validator.addMethod('lessThanEqual', function(value, element, param) {
    if (this.optional(element)) return true;
    var i = parseInt(value);
    // var j = parseInt($(param).val());
    return i <= 100;
}, "The value must be less than or equal to {100}.");

});

</script>

<script>
   // jQuery(document).change('#category_category_name', function(e){
    
  
    $("#category_category_name").change(function(){
   var input_state = $(this).val();
     str = "";
         $.ajax({
              url: "/admin/categories/edit",
               type: 'POST',
               data: {
                       input_state: input_state 
                     },
               dataType: "JSON",
                success: function(response){
                    console.log(response);  
       
                   $.each( response.state , function(i,l){
                      str += '<option value="'+l+'">' + l+'</option>';
                  });
                     $('#state_state_name').empty().append('<option value="">Select State</option>');
                     $('#state_state_name').append(str);
                  }
   
         });
   
              
   
            
      });
   


</script>