<section class="content-header">
   <h1>Update Static Content Management</h1>
</section>
  <section class="content">
    <div class="box box-info">
    <div class="box-body">
      <div class="tab-content">
  				<div class="tab-pane fade active in" id="default-tab-1">
  					<div class="tab-pane">
  							<%= form_with(model: @user, url:  admin_static_content_path, method: :patch, local: true) do |f|%>
  								<div class="detail-form m-t-40 m-b-40">

  									<div class="form-group">
  										<div class="row">
  											<label class="col-sm-2 col-md-2 control-label">Title</label>
  											<div class="col-sm-8 col-md-8">
                          						<%= f.text_field :title, class: "form-control", placeholder: "" %>
  											</div>
  										</div>
  									</div>
                    <div class="form-group">
  										<div class="row">
  											<label class="col-sm-2 col-md-2 control-label">Description</label>
  											<div class="col-sm-8 col-md-8">
  											  <%= f.cktext_area :description,  html: { id: "cktext"} %>
  											</div>
  										</div>
  									</div>
                    <div class="form-group">
  										<div class="text-center attendee-cent-s">
  											<button class="btn btn-success" type="submit">Submit</button>
                        <a href="/admin/static_content" class="btn btn-danger">Back</a>
							        </div>
									</div>
								</div>
							<%end%>
						</div>
  				</div>
        </div>
      </div>
    </div>
  </section>
