<section class="content-header">
  <h1>Show Static Content Management</h1>
</section>
<section class="content">
<div class="box box-info">
  <div class="box-body box-profile">
    <div class="profile-box">
      <div class="profile-inner clearfix">
        <div class="user-detail-block">
          <div class="p-blocks">
            <label class="view-a left-a">Question: </label>
            <span class="view-a right-a"><%= sanitize(@user.title)%></span>
          </div>
          <div class="p-blocks">
            <label class="view-a left-a">Answer: </label>
            <span class="view-a right-a"><%= strip_tags(@user.description)%></span>
          </div>
        </div>
      </div>
      </div>
      <br>
      <br>
      <a href="/admin/static_content" class="btn btn-danger"style="margin-left: 550px;">Back</a>
  </div>
</div>
</section>
