<!-- <p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%#= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
 -->
<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>Page Title</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
   <script src='main.js'></script>
</head>
<body>
   <table style="background: #d9d9d9; padding: 0px 20px; font-family: Arial, Helvetica, sans-serif">
       <thead>
          <tr>
            <!-- <th><img src="images/mc_fb_og.png"></th> -->
              <th style="padding: 20px 0px; margin-left: -100px;"><!-- <img src="images/email.png" alt="logo" width="200px;" height="50px;"> --><h3>Lina Review</h3></th>
          </tr>
       </thead>
       <tbody>
           <tr>
               <td style="padding: 20px; background: #fff;">
                   <h3></h3>
                   <p>Hi <%= @resource.name %>  </p>
                   <ul>
                       <li>If you didn't request this, please ignore this email.</li>
                       <li> Your password won't change until you access the link above and create a new one.  </li>
                   </ul>
                   <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), background:"#FFC300", color: "#080808", padding: "12px 20px", display:"inline-block"  %>
                   <p>
                       Thanks <br>
                       -The Lina Review Team
                   </p>
               </td>
           </tr>
       </tbody>
       <tfoot>
           <tr>
               <td style="padding: 20px 0px; text-align: center;">All rights are reserved @ Lina Review2019</td>
           </tr>
       </tfoot>
   </table>
</body>
</html>


