<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
        <center><%= value.join%></center>
    </ul>
  </div>
<% end %>
<% flash.clear %>
<style type="text/css">
.alert-error {
  background-color: #e80b0b;
  border-color: #e80b0b;
  color: #fbf9f9;
  z-index: 99 !important; 
  position:absolute;
  top: 105px;
  width: 1108px;
  height: 50px;
  margin: auto;
    left: 50%;
    transform: translateX(-50%);
 }

.alert-alert {
  background-color: #e80b0b;
  border-color: #e80b0b;
  color: #fbf9f9;
  z-index: 99 !important; 
  position:absolute;
  top: 105px;
  width: 1108px;
  height: 50px;
  margin: auto;
    left: 50%;
    transform: translateX(-50%);
 }

.alert-success {
  background-color: #048e0f;
  border-color: #048e0f;
  color: #fbf9f9;
  z-index: 99 !important; 
  position:absolute;
  top: 105px;
  width: 1108px;
  height: 50px;
  margin: auto;
    left: 50%;
    transform: translateX(-50%);
 }

.alert-notice {
  background-color: #048e0f;
  border-color: #048e0f;
  color: #fbf9f9;
  z-index: 99 !important; 
  position:absolute;
  top: 105px;
  width: 1108px;
  height: 50px;
  margin: auto;
    left: 50%;
    transform: translateX(-50%);
 }
</style>
<script type="text/javascript">
	$(".alert" ).fadeOut(5000);
</script>


