 <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <a href="<%= root_path%>"><img src="/assets/LOGO.png"></a>
            <p class="fotter-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="col-md-5">
            <div class="row align-items-intial">
              <div class="col-md-6">
                <ul class="fotter-ul">
                  <li class="main-hedaing">Support</li>
                  <li><a href="/homes/about_us">About Us</a></li>
                  <li>Contact Us</li>
                  <li>Give Us Feedback</li>
                  <li><a href="/homes/faq">FAQs</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="fotter-ul">
                  <li class="main-hedaing">More Information</li>
                  <li><a href="/homes/term_condition">Terms & Conditions</a></li>
                  <li><a href="/homes/privacy_policy">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <a href="#" class="font-awsomeicon"><i class="fa fa-facebook"></i></a>
            <a href="#" class="font-awsomeicon"><i class="fa fa fa-linkedin"></i></a>
            <a href="#" class="font-awsomeicon"><i class="fa fa fa-youtube"></i></a>
            <a href="#" class="font-awsomeicon"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="last-para">
        <p>All rights are reserved @ BlockChain System 2019</p>
      </div>
    </footer>
