<header class="header">
      <nav id="main-navbar" class="main-navbar navbar navbar-expand-lg bg-primary">
        <div class="headerTop">
          <a class="navbar-brand" href="#"><img src="images/LOGO.png"></a>
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
              <form class="header-search">
                <input type="search" name="" class="form-control" placeholder="Search">
                <img src="images/search.png">
              </form>
            </li>
          </ul>
          <ul class="navbar-nav align-items-center">
            <li><a class="nav-link btn btn-outline-dark mr-3" href="login.html">Join us</a></li>
            <li><a class="nav-link btn btn-outline-dark" href="login.html">Login</a></li>
            <!-- <li class="nav-item user-item"><a class="" href="login.html"><span>Michel John</span> <img src="images/user-icon.jpg" alt=""> </a></li> -->
            <!-- <li><a class="nav-link btn btn-outline-dark" href="login.html">Log Out</a></li> -->
          </ul>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
  
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center main-nav">
            <li class="nav-item"><a class="nav-link" href="#">Movies</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Games</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Tv</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Music</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Books</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Mobile Phone</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Laptops</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Restaurants</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
          </ul>
        </div> -->
      </nav>

    </header>