<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="footer-widget footer-about">
                    <a href="<%= root_path%>"><img src="/assets/lina_logo.png"></a>
                    <p class="fotter-para">The review platform based on blockchain technology, data will be guaranteed immutability and transparency. A product of Lina Network Type a message</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row align-items-intial">
                    <div class="col-md-6">
                        <div class="footer-widget footer-menu">
                            <ul class="fotter-ul">
                                <li class="main-hedaing">Support</li>
                                <li><a href="/homes/about_us">About Us</a></li>
                                <li><a href="/homes/contact_us">Contact Us</a></li>
                                <li><a href="/homes/feedback">Give Us Feedback</a></li>
                                <li><a href="/homes/faq">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-widget footer-menu">
                            <ul class="fotter-ul">
                                <li class="main-hedaing">More Information</li>
                                <li><a href="/homes/term_condition">Terms & Conditions</a></li>
                                <li><a href="/homes/privacy_policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget footer-social">
                    <a href="https://www.facebook.com/pg/linareviewvn" class="font-awsomeicon"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com" class="font-awsomeicon"><i class="fa fa fa-medium"></i></a>
                    <a href=" https://www.youtube.com/channel/UCswoAu7ENbSQ01ruLhurEoQ" class="font-awsomeicon"><i class="fa fa fa-youtube"></i></a>
                    <a href="https://twitter.com/lina_network?lang=en" class="font-awsomeicon"><i class="fa fa-twitter"></i></a>
                    <a href="https://twitter.com/lina_network?lang=en" class="font-awsomeicon"><i class="fa fa-telegram"></i></a>

                </div>
            </div>
        </div>
    </div>
    <div class="last-para copyright text-center">
        <div class="container">
            <p class="mb-0">All rights are reserved @ BlockChain System 2019</p>
        </div>
    </div>
</footer>

<style type="text/css">
    a.font-awsomeicon i.fa {
        height: 36px;
        width: 36px;
        line-height: 36px;
    }
    .footer-about{
        text-align:left;
    }
    .footer-about img{
        max-width:70px;
    }
</style>